<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logo.png"/>
    <title>RiskiArinza | OnlyQris</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Link Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <!-- End Link Google Font -->
</head>

<body>
    <header class="header">
      <!-- Logo -->
      <a href="index.html" class="logo"><img src="logo.png" alt="RiskiArinza">RiskiArinza</a>
      <!-- End Logo -->
      <!-- Tema Mode -->
      <button id="theme-switch">
        <img src="sun.png"/>
        <img src="moon.png"/>
      </button>
      <!-- End Tema Mode -->
      <!-- Menu Hamberger --> 
      <input type="checkbox" id="check">
      <label for="check" class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <!-- End Menu Hamberger --> 
      <!-- Navbar Text Menu -->
      <nav class="navbar">
        <a class="lokasi" href="index.html">Home</a>
        <a href="aplikasi.html">Aplikasi</a>
        <a href="picture.html">Gambar</a>
        <a href="about">Tentang</a>
      </nav>
      <!-- End Navbar Text Menu -->
    </header>
    
    <!-- Slider -->
    <section class="slider">
      <div class="slider-wrapper">
        <div class="slider-container" id="slider">
          <img src="slide1.jpg" alt="Welcome" />
          <img src="slide2.png" alt="Aplikasi" />
          <img src="slide3.png" alt="Music" />
        </div>
    <!-- Dots Indicator Slider -->
      <div class="slider-dots" id="sliderDots"></div>
      <button class="slider-btn next" id="nextSlide">&#10095;</button>
      <button class="slider-btn prev" id="prevSlide">&#10094;</button>
    <!-- Dots Indicator Slider -->
    </div>
  </section>
  <!-- End Slider -->
  
  <div class="grid-container">
    <a href="mobilelegends.html">
    <div class="card-home">
      <div class="gelap"><img src="mobilelegends1.jpg" alt="mobile legends"></div>
      <div class="terang"><img src="mobilelegends2.jpg" alt="mobile legends"></div>
      <h1>Mobile Lagends: Bang-bang</h1>
    </div></a>
    <div class="card-home">
      <div class="gelap"><img src="freefire1.jpg" alt="free fire"></div>
      <div class="terang"><img src="freefire2.jpg" alt="free fire"></div>
      <h1>Free Fire</hq>
    </div>
    <div class="card-home">
      <div class="gelap"><img src="minecraft1.jpg" alt="minecraft"></div>
      <div class="terang"><img src="minecraft2.jpg" alt="minecraft"></div>
      <h1>Minecraft</h1>
    </div>
    <div class="card-home">
      <div class="gelap"><img src="pubgm1.jpg" alt="pubg mobile"></div>
      <div class="terang"><img src="pubgm2.jpg" alt="pubg mobile"></div>
      <h1>PUBG Mobile</h1>
    </div>
    <div class="card-home">
      <h1>Ganshin Impact</h1>
    </div>
    <div class="card-home">
      <h1>EFootball</h1>
    </div>
    <div class="card-home">
      <h1>Judul</h1>
    </div>
    <div class="card-home">
      <h1>Judul</h1>
    </div>
    <div class="card-home">
      <h1>Judul</h1>
    </div>
    <div class="card-home">
      <h1>Judul</h1>
    </div>
    <div class="card-home">
      <h1>Judul</h1>
    </div>
    <div class="card-home">
      <h1>Judul</h1>
    </div>
  </div>
</body>

</html>