/*Halaman Modif*/
/*Color Mode*/
:root {
  --bg: #f7f7f7;
  --color: #ff9900;
  --color-hover: #0056b3;
  --text-color: #fff;
  --text-logo: #fff;
  --primary-color: #3a435d;
  --border: rgb(75, 82, 92);
  --accent-color: #0071ff;
  --drop-shadow: rgba(0, 0, 0, 0.3);
  --footerdekstop: url("footerdekstop1.png");
  --footertab: url("footertab1.png");
  --footermobile: url("footermobile1.png");
}

.darkmode {
  --bg: #1e1e1e;
  --color: #0056b3;
  --color-hover: #ff9900;
  --text-color: #000;
  --primary-color: #3a435d;
  --border: rgb(75, 82, 92);
  --accent-color: #0071ff;
  --drop-shadow: rgba(255, 255, 255, 0.2);
  --footerdekstop: url("footerdekstop2.png");
  --footertab: url("footertab2.png");
  --footermobile: url("footermobile2.png");
}
/*End Color Mode*/

/*Disable Link Modif*/
a{
  text-decoration: none;
  color: var(--text-logo);
}
/*End Disable Link Modif*/

/*Href Font*/
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");*/
/*End Href Font*/

/*View HTML Modif*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Exo, sans-serif;
}

body {
  min-height: 100vh;
  background: var(--bg);
}
/*End View HTML Modif*/
/*End Halaman Modif*/

/*Navbar*/
/*Header Navbar*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  background: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  filter: drop-shadow(0 1px 5px var(--drop-shadow));
}
/*Header Navbar*/

/*Logo Text*/
.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  font-family: Pacifico;
  gap: 7px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}

.logo img {
  width: 40px;
  height: 40px;
}
/*End Logo Text*/

/*Navbar Text Menu*/
.navbar {
  position: absolute;
  right: 15%;
  filter: drop-shadow(0 2px 4px var(--drop-shadow));
}

.navbar a {
  font-size: 1.15rem;
  font-weight: bold;
  margin-left: 2.5rem;
  padding: 20px 5px;
  filter: drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.2));
}

.navbar a:hover {
  color: var(--color-hover);
}

.lokasi {
  color: var(--color-hover);
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));
}
/*End Navbar Text Menu*/

/*Tema Mode*/
button{
  border: none;
  border-radius: 50%;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

button img{
  border: none;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

#theme-switch{
  position: absolute;
  right: 10%;
  height: 45px;
  width: 45px;
  background-color: rgba(0, 0, 0, 0.1);
}

#theme-switch img:last-child{
  display: none;
}

.darkmode #theme-switch img:first-child{
  display: none;
}

.darkmode #theme-switch img:last-child{
  display: block;
}

#check {
  display: none;
}
/*End Tema Mode*/

/*Menu Hamburger*/
#hamburger {
  opacity: 0;
  position: absolute;
  right: 18%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.4s ease;
}

/*Animasi Hamburger Saat Aktif*/
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
/*End Animasi Hamburger Saat Aktif*/
/*End Menu Hamburger*/
/*End Navbar*/

/*Slider*/
.slider {
  padding: 30px 0 5px;
  margin: 5rem 10% 3rem;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 200px;
  width: 100%;
  filter: drop-shadow(0 2px 4px var(--drop-shadow));
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

/*Dots Indicator Slider*/
.slider-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 2;
}

.slider-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: var(--bg);
}

.slider-dot.active {
  background-color: var(--color);
  transform: scale(1.2);
}
/*End Dots Indicator Slider*/
/*End Slider*/

/*Content Web*/
/*Card Home*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 127px);
  gap: 30px;
  justify-content: center;
  padding: 0 10%;
  margin-bottom: 50px;
}

.card-home {
  background-color: var(--color);
  padding: 0;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s, filter 0.3s;
  color: #000;
  font-size: 0.8rem;
  cursor: pointer;
  width: 130px;
  height: 170px;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0 2px 5px var(--drop-shadow));
}

.card-home img {
  width: 130px;
  height: 170px;
  object-fit: cover;
  filter: brightness(1);
  transition: filter 0.3s ease;
}

.card-home h1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  z-index: 2;
  transition: all 0.3s ease;
  opacity: 0;
}

.card-home:hover h1 {
  top: 50%;
  bottom: auto;               /* hapus bottom */
  transform: translate(-50%, -50%) scale(1.2);
  font-size: 0.9rem;
  opacity: 1;
}
/*End Card Home*/

/*Hover Effect All Card*/
.card-home:hover {
  transform: scale(1.05);
}

.card-home:hover img {
  filter: blur(3px) brightness(0.7);
}

.card {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--color);
  text-align: center;
  justify-items: center;
  filter: drop-shadow(0 2px 5px var(--drop-shadow));
}

.card img {
  position: relative;
  width: 130px;
  height: 170px;
  filter: brightness(1);
  transition: filter 0.3s ease;
  border-radius: 7px;
  left: 68px;
  float: none;
  margin-bottom: 10px;
}

/* Hover effect */
.card:hover {
  transform: scale(1.05);
}

.card:hover img {
  filter: blur(3px) brightness(0.7);
}

.terang img {
  display: block;
}

.gelap img {
  display: none;
}

.darkmode .terang img {
  display: none;
}

.darkmode .gelap img {
  display: block;
}
/*End Hover Effect All Card*/

/*Card Aplikasi*/
.grid-container-aplikasi {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 30px;
  justify-content: center;
  margin: 9rem 5%;
  margin-bottom: 50px;
}

h2 {
  color: var(--text-logo);
}

p {
  color: var(--text-logo);
  margin-top: 0.5rem;
}
/*End Card Aplikasi*/
/*End Content Web*/

/*Footer*/
.footer-basic {
  padding: 60px 0;
  background-image: var(--footerdekstop);
  background-size: cover;
  color: var(--text-logo);
  filter: drop-shadow(0 -2px 5px rgba(0, 0, 0, 0.2));
}

.footer-basic ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Agar responsif di layar kecil */
  padding: 0;
  list-style: none;
  font-size: 19px;
  margin-bottom: 20px;
  gap: 35px; /* Jarak antar item */
}


.footer-basic li {
  padding:0;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
  color: var(--color-hover);
}

.footer-basic .social {
  text-align:center;
  padding-bottom:10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid var(--text-logo);
  margin:0 8px 5px 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a i{
  font-size: 25px;
  margin-top: 7px;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:35px;
  text-align:center;
  font-size:17px;
  color: var(--text-logo);
  margin-bottom: 0;
}
/*End Footer*/

/*Responsive*/
@media (max-width: 1150px) {
  .header {
    padding: 1rem 5%;
  }
  
  .navbar {
    right: 14%;
  }
  
  #theme-switch {
    right: 5%;
  }
  
  .slider {
  margin: 6rem 10% 3rem;
  }

  .slider-wrapper {
  height: 300px;
  }
  
  .grid-container {
  grid-template-columns: repeat(auto-fit, 150px);
  padding: 0 7%;
}

  .grid-container-aplikasi {
  grid-template-columns: repeat(auto-fit, 275px);
  padding: 30px 0;
  margin: 5rem 10%;
  margin-bottom: 45px;
}

.card img {
  left: 50px;
  margin-bottom: 0;
}

.footer-basic {
  background-image: var(--footertab);
}

.footer-basic .social {
  margin-top: 10px;
}
}

@media (max-width: 770px) {
  #hamburger {
    opacity: 1;
  }
  
  .navbar{
    right: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--color-hover);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: .3s ease;
  }
  
  #check:checked~.navbar{
    height: 16.7rem;
  }
  
  .navbar a {
    display: block;
    font-size: 1rem;
    padding: 1.5rem 0;
    margin: 0;
    text-align: center;
  }
  
  .navbar a:hover {
    color: var(--color);
  }
  
  .lokasi {
  color: var(--color);
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));
  }

  .slider {
  margin: 5rem 7% 2.5rem;
  }

  .slider-wrapper {
  height: 180px;
  }
  
  .grid-container-aplikasi {
  grid-template-columns: repeat(auto-fit, 400px);
  margin-bottom: 35px;
}
  
    .grid-container {
  grid-template-columns: repeat(auto-fit, 120px);
}

.card-home {
  background-color: var(--color);
  padding: 0;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s, filter 0.3s;
  color: #000;
  font-size: 0.8rem;
  cursor: pointer;
  width: 130px;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.card-home img {
  width: 130px;
  height: 170px;
  object-fit: cover;
  filter: brightness(1);
  transition: filter 0.3s ease;
}

/* Tulisan posisi awal di bawah tengah */
.card-home h1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 0.7rem;
  text-align: center;
  z-index: 2;
  transition: all 0.3s ease;
  opacity: 0;
}

/* Hover effect */
.card-home:hover {
  transform: scale(1.05);
}

.card-home:hover img {
  filter: blur(3px) brightness(0.7);
}

/* Tulisan pindah ke tengah tengah dan membesar */
.card-home:hover h1 {
  top: 50%;
  bottom: auto;               /* hapus bottom */
  transform: translate(-50%, -50%) scale(1.2);
  font-size: 0.9rem;
  opacity: 1;
}

.card {
  text-align: justify;
  justify-items: normal;
}

.card img {
  width: 80px;
  height: 100px;
  float: left;
  top: 0;
  left: 0;
}

.card a h2 {
  position: relative;
  top: 11px;
  left: 20px;
  font-size: 1.2rem;
}

.card a p {
  position: relative;
  top: 13px;
  left: 20px;
  font-size: 0.6rem;
  padding: 0 20px 0 0;
}

.footer-basic {
  background-image: var(--footermobile);
  padding: 50px 0;
}

.footer-basic .social {
  margin-top: 0;
}

.footer-basic ul {
  font-size: 18px;
  gap: 15px; /* Jarak antar item */
}

.footer-basic .copyright {
  font-size:13px;
}
}

/*End Responsive*/





